# Surfs Up in Hawaii!

![title](Images/surfs-up.jpeg)

# Climate analysis and data exploration of the Hawaii climate database. 
All of the following analysis was completed using SQLAlchemy ORM queries, Pandas, and Matplotlib.

In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

Connect to the Hawaii sqllite DB using SQLAlchemy and reflect Tables into the ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [5]:
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

In [6]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [7]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [8]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [9]:
# Or we can use the inspector to get the table names
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [11]:
for c in inspector.get_columns('measurement'):
    print(c['name'],c['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [12]:
for c in inspector.get_columns('station'):
    print(c['name'],c['type'])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [ ]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [ ]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

Design a query to retrieve the last 12 months of precipitation data and plot the results

In [ ]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()


# Creates Classes which will serve as the anchor points for our Tables
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Columns(String(11))
    date = Column(String(10))
    prcp = Column(Float)
    tobs = Column(Float)

    def get_last_date(self):
        return session.query(self.date)\
            .order_by(Measurement.date.desc()).first()

def get_date_prev_yr(last_date):
    yr = int(last_date.split("-")[0])
    mn = int(last_date.split("-")[1])
    dy = int(last_date.split("-")[2])
    return dt.date(yr, mn, dy) - dt.timedelta(days=365)


class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Columns(String(11))
    name = Column(String(40))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [ ]:
# Calculate the date 1 year ago from the last data point in the database using SqlAlchemy
last_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
last_date

In [ ]:
query_date = dt.date(2017, 8, 23) - dt.timedelta(days=365)
print("Query Date: ", query_date)

In [ ]:
# Perform a query to retrieve the data and precipitation scores
query = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= query_date)

In [ ]:
# Save the query results as a Pandas DataFrame and set the index to the date column
# Sort the dataframe by date
df = pd.read_sql(query.statement, engine).sort_values('date',ascending=False)
df.head()

In [ ]:
plt.rcParams['figure.figsize']=[15,10]
hawaii_df = df.set_index('date')
ax=hawaii_df.plot(title='Precipitation over the last 12 months for Hawaii by date');

In [ ]:
# Create a Month column in order to be able to plot by month
df['Month'] = [d.split('-')[1] for d in df['date']]
df["Month"] = pd.to_numeric(df["Month"])

In [ ]:
groupedByMonth_df = df.groupby('Month')
avg_prcp_by_month = groupedByMonth_df['prcp'].mean()
max_prcp_by_month = groupedByMonth_df['prcp'].max()

In [ ]:
prcp_df = pd.merge(avg_prcp_by_month, max_prcp_by_month, on='Month', how='outer')
prcp_df.rename(columns={'prcp_x':'prcp_avg','prcp_y':'prcp_max'},inplace=True)
prcp_df.plot.bar(title='Precipitation over the last 12 months for Hawaii by Month');

In [ ]:
# Use Pandas to calculate the summary statistics for the precipitation data
df.describe()

In [ ]:
# Design a query to show how many stations are available in this dataset?
session.query(Measurement.station).distinct().count()

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
session.query(func.count(Measurement.station),Measurement.station).\
                group_by(Measurement.station).\
                order_by(func.count(Measurement.station).desc()).\
                all()

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?
query = session.query(Measurement.date,Measurement.tobs).filter(Measurement.station=='USC00519281')
active_df = pd.read_sql(query.statement, engine).sort_values('tobs',ascending=False)
active_df.describe()

In [ ]:
active_df.tail()

In [ ]:
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
query = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= query_date).\
                filter(Measurement.station=='USC00519281')
yr_active_df = pd.read_sql(query.statement, engine).sort_values('date',ascending=True)
yr_active_df['Month'] = [d.split('-')[1] for d in yr_active_df['date']]
yr_active_df["Month"] = pd.to_numeric(yr_active_df["Month"])
yr_active_df = yr_active_df.set_index('Month')
yr_active_df.head()

In [ ]:
active_df.describe()

In [ ]:
active_df.hist(column='tobs')

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
 def calc_temps_y(y):
        args = calc_temps(str(y)+'-02-28',str(y)+'-03-05')
        return (*args[0]), y

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.
prev_years_temp = [calc_temps_y(y) for y in range(2012,2018)]

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)
trip_avg_temp_df = pd.DataFrame(prev_years_temp,columns=['TMIN','TAVG','TMAX','YEAR'])

In [ ]:
trip_avg_temp_df.set_index('YEAR')

In [ ]:
ax = trip_avg_temp_df.plot.bar(x='YEAR', title='Trip Avg Temp')
ax.set_ylim(50,80)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

def total_rain(station, start_date, end_date):
    """Total rainfall for the weather station for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        station (string): station id
    Returns:
        TotalRainfall
    """
    
    return session.query(func.sum(Measurement.prcp)).\
        filter(Measurement.station==station).\
        filter(Measurement.date >= start_date).\
        filter(Measurement.date <= end_date).first()

# function usage example
print(total_rain('USC00519281','2012-02-28', '2012-03-05'))

In [ ]:
def total_rain_y(s,y):
        r = total_rain(s,str(y)+'-02-28',str(y)+'-03-05')
        return r[0]
    
print(total_rain_y('USC00519281','2012'))

In [ ]:
stations = session.query(Measurement.station).distinct().all()
station_id = []
for s in stations:
    station_id.append(s[0])
station_id

In [ ]:
[total_rain_y('USC00519397',y) for y in range(2012,2018)]

In [ ]:
prev_years_rain = []
for s in station_id:
    rain = [total_rain_y(s,y) for y in range(2012,2018)]
    row = [s, *rain]
    prev_years_rain.append(row)

In [ ]:
total_rain_df = pd.DataFrame(prev_years_rain, columns=['station','2012','2013','2014','2015','2016','2017'])
total_rain_df = total_rain_df.\
                sort_values(by=['2017','2016','2015','2014','2013','2012'],ascending=False)
total_rain_df

In [ ]:
# Convert Station table to DataFrame
query = session.query(Station)
Station_df = pd.read_sql(query.statement, engine)
del(Station_df['id'])
Station_df.head()

In [ ]:
# Merge the two tables
hawaii_df = pd.merge(total_rain_df, Station_df, on='station', how='left')
hawaii_df.head()

## Optional Challenge Assignment

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`
# Set the start and end date of the trip
# Use the start and end date to create a range of dates
# Strip off the year and save a list of %m-%d strings
# Loop through the list of %m-%d strings and calculate the normals for each date
date_range = ['02-28','03-01','03-02','03-03','03-04','03-05']
normals = [(d,*daily_normals(d)[0]) for d in date_range]
normals

In [ ]:
def getDTObj(s):
    m = pd.to_numeric(s.split('-')[0])
    d = pd.to_numeric(s.split('-')[1])
    return dt.date(2017, m, d)

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index
normals_df = pd.DataFrame(normals, columns=['trip_dates','TMIN','TAVG','TMAX'])
normals_df['trip_dates'] = normals_df['trip_dates'].apply(getDTObj)
normals_df.set_index('trip_dates')

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`
x_axis = np.arange(len(normals_df))
tick_locations = [value for value in x_axis]
ax = normals_df.plot.area(stacked=False, title='Daily Normals',use_index='trip_dates')
plt.xticks(tick_locations, date_range, rotation="vertical")
plt.show()